<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <a href="/" class="navbar-brand">Catalog site</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav"
                aria-controls="navbarResponsive" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('contacts') }}">Feedback</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>